<h1>Endpoints</h1>

<table>
    {{ range . }}
    <tr>
        <td><a href="/editor/endpoint/{{ .ID }}">edit</a></td>
        <td>{{ .Method }}</td>
        <td>{{ .Path }}</td>
    </tr>
    {{ end }}
</table>

<h2>New</h2>
<form action="/editor/endpoint" method="post">
    <label>Method</label>
    <select name="method">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="DELETE">DELETE</option>
        <option value="HEAD">HEAD</option>
        <option value="OPTION">OPTION</option>
        <option value="PATCH">PATCH</option>
    </select>
    <label>Path</label>
    <input size="50" type="text" name="path">
    <br />
    <label>Code</label><br />
    <textarea cols="100" rows="30" name="code">{{ .Code }}</textarea>
    <input type="submit">
</form>